



<div class="page-slider margin-bottom-35">

    <%= render 'home/main_carousel' %>

      <div class="main">
        <div class="container">

           <%= render 'home/new_arrivals' %>
           <%= render 'home/three_category' %>



         <%= render 'home/promo' %>

        </div>
      </div>
</div>

