/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";



.border-form-div {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 10px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 5px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 10px;
  padding: 7px 7px;
}

html, body {
  height: 100%;
  width: 100%;
}

.blok1 {
  height: 100%;
  background-position: center center;
  background-size: cover;
}

#ad a,span{
  color: #70caff;
  text-shadow: 1px 1px 3px rgb(51, 153, 255);
  font: normal 30px 'Bitter', serif;
  -moz-box-shadow: inset 0px 2px 2px 0px rgb(51, 153, 255);
  -webkit-box-shadow: inset 0px 2px 2px 0px rgb(51, 153, 255);
  box-shadow: inset 0px 2px 2px 0px rgb(51, 153, 255);

  font-size: 30px;


}
.kv-avatar .krajee-default.file-preview-frame,.kv-avatar .krajee-default.file-preview-frame:hover {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;
}
.kv-avatar {
    display: inline-block;
}
.kv-avatar .file-input {
    display: table-cell;
    width: 213px;
}
.kv-reqd {
    color: red;
    font-family: monospace;
    font-weight: normal;
}

#product_full_desp {
  
  height: 250px;
}

#product_additional_features {
  
  height: 100px;
}

/* Home#index */
div.shop-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 0px;
  -moz-border-radius: 0px;
  border:1px solid #ddd;
  margin-top: 0px;
  margin-left: 0px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.shop-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.shop-tab-menu div.list-group{
  margin-bottom: 0;
}
div.shop-tab-menu div.list-group>a{
  margin-bottom: 0;
}
div.shop-tab-menu div.list-group>a .glyphicon,
div.shop-tab-menu div.list-group>a .fa {
  color: #bee5eb;
}
div.shop-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.shop-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.shop-tab-menu div.list-group>a.active,
div.shop-tab-menu div.list-group>a.active .glyphicon,
div.shop-tab-menu div.list-group>a.active .fa{
  background-color: #ffffff;
  background-image: #5A55A3;
  color: #5A55A3;
}

div.shop-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 5px;
  padding-top: 15px;
  padding-bottom: 10px;
  vertical-align: text-middle;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.120);
}
.btn-group {
  padding-top: 20px;
}
.btn-group > .btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0rem;
}
.cat {
  text-align: left;
}

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: relative;
  width: 100%;
  height: 360px;
}

.carousel-inner {
  border-radius: 0px;
}

.carousel-caption {
  background-color: rgba(0,0,0,.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 0 0 10px 25px;
  color: #fff;
  text-align: left;
}

.carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  margin: 0;
  padding: 0 25px 25px 0;
  text-align: right;
}


.carousel-control.left,
.carousel-control.right {
  background-image: none;
}
//
//div.container  {
//
//  margin-left: 15px;
//
//}

hr {
  margin-bottom: 0;
}

// footer


#footer-sub{
  background-color: #f3f7f8;
  border-top: 1px solid #dbdbdb;
}

#footer-main{
  background-color: #012b72;
}

#footer-sub h5{
  color:#565656;
  margin-top: 25px;
}

#footer-sub ul{
  list-style: none;
  margin-top: 20px;
}

#footer-sub hr{
  margin: 5px;

}

#footer-sub ul li{
  margin-left: -38px;
}

#footer-sub a:link {
  text-decoration: none;
  color:#565656;
  font-size: 12px;
}

#footer-sub a:visited {
  text-decoration: none;
  color:#565656;
}


#footer-sub a:hover {
  text-decoration: none;
  color: blue;
}


#footer-sub a:active {
  text-decoration: none;
  color:#565656;
}

.vertical-line{
  border-right: 1px solid #dbdbdb;
  margin: 8px;
  padding: 0px;
}

.glyphicon {
  font-size: 35px;
  color:#6d6c6c;
}

#sub-two{
  margin: 0px;
  padding: 0px;
}

#sub-two .vertical-line h4{
  color:#6d6c6c;
}


#footer-main ul{
  list-style: none;
}

#footer-main ul li{
  float:left;
  text-decoration: none;
  padding-left: 15px;
  margin-top: 17px;
}

#footer-main a:link {
  color:white;
  font-size: 12px;
}

#footer-main a:visited {
  color:white;
}


#footer-main a:hover {
  text-decoration: none;
  color: #00b9f5;
}


#footer-main a:active {
  color:white;
}

.glyphicon-search{
  font-size: 20px;
}

#social-menu{
  float: right;
  margin-right: 60px;
}

#side-padding{
  padding: 0px;
  margin: 0px;
}

.team_columns_carousel_wrapper {
  padding: 25px;
  overflow: hidden
}
.team_columns_carousel_control_left,
.team_columns_carousel_control_right {
  top: 26px;
  z-index: 2;
  opacity: 1;
  width: 35px;
  height: 35px;
  border: 0;
  text-shadow: none;
  text-align: center;
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s
}
.team_columns_carousel_control_icons {
  line-height: 35px;
  font-size: 20px!important;
  font-weight: normal!important;
  margin-top:8px;
}
.team_columns_carousel_control_left {
  left: 26px!important
}
.team_columns_carousel_control_right {
  left: 63px!important
}
.adv_left {
  left: 41px!important
}
.adv_right {
  left: 78px!important
}
.team_columns_item_image {
  padding-top: 60px;
  padding-bottom: 25px
}
.team_columns_item_image img {
  width: 100%;
  -webkit-filter: grayscale(70%);
  -moz-filter: grayscale(70%);
  -ms-filter: grayscale(70%);
  -o-filter: grayscale(70%);
  filter: grayscale(70%);
  -webkit-transition: all ease-in-out .3s;
  -moz-transition: all ease-in-out .3s;
  -ms-transition: all ease-in-out .3s;
  -o-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s
}
.team_columns_item_image:hover img {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%)
}
.team_columns_item_caption {
  padding: 10px;
  text-align: center;
  padding-bottom: 30px
}
.team_columns_item_caption>hr {
  width: 15%
}
.team_columns_item_caption h4 {
  font-weight: 800;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif
}
.team_columns_item_caption h5 {
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif
}
.team_columns_item_caption p {
  font-weight: 400;
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif
}
.team_columns_item_caption p a,
.team_columns_item_caption p a:visited {
  text-decoration: none;
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s
}
.team_columns_item_social a,
.team_columns_item_social a:visited {
  width: 25px;
  float: left;
  height: 25px;
  display: block;
  line-height: 25px;
  margin-right: 2px;
  text-decoration: none;
  -webkit-transition: background ease-in-out .3s;
  transition: background ease-in-out .3s
}
@media(min-width:768px) and (max-width:789px) {
  .adv_team_columns_item_social a, .adv_team_columns_item_social a:visited {
    margin-right: 0
  }
}
.team_columns_carousel_wrapper {
  background: #fff
}
.team_columns_carousel_control_left,
.team_columns_carousel_control_left:hover,
.team_columns_carousel_control_left:active,
.team_columns_carousel_control_left:focus,
.team_columns_carousel_control_right,
.team_columns_carousel_control_right:hover,
.team_columns_carousel_control_right:active,
.team_columns_carousel_control_right:focus {
  color: #fff;
  background: #feb600!important
}
.team_columns_item_caption {
  color: #fff;
  background: #171717
}
.team_columns_item_caption>hr {
  border-top: 2px solid #feb600
}
.team_columns_item_caption p a,
.team_columns_item_caption p a:visited {
  color: #feb600
}
.team_columns_item_caption p a:hover,
.team_columns_item_caption p a:active {
  color: #cb9200
}
.team_columns_item_social a,
.team_columns_item_social a:visited {
  color: #171717;
  background: #feb600
}
.team_columns_item_social a:hover,
.team_columns_item_social a:active {
  background: #cb9200
}
.four_shows_one_move .cloneditem-1,
.four_shows_one_move .cloneditem-2,
.four_shows_one_move .cloneditem-3 {
  display: none
}
@media all and (min-width: 768px) {
  .four_shows_one_move .carousel-inner>.active.left,
  .four_shows_one_move .carousel-inner>.prev {
    left: -50%
  }
  .four_shows_one_move .carousel-inner>.active.right,
  .four_shows_one_move .carousel-inner>.next {
    left: 50%
  }
  .four_shows_one_move .carousel-inner>.left,
  .four_shows_one_move .carousel-inner>.prev.right,
  .four_shows_one_move .carousel-inner>.active {
    left: 0
  }
  .four_shows_one_move .carousel-inner .cloneditem-1 {
    display: block
  }
}
@media all and (min-width: 768px) and (transform-3d),
all and (min-width: 768px) and (-webkit-transform-3d) {
  .four_shows_one_move .carousel-inner>.item.active.right,
  .four_shows_one_move .carousel-inner>.item.next {
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
    left: 0
  }
  .four_shows_one_move .carousel-inner>.item.active.left,
  .four_shows_one_move .carousel-inner>.item.prev {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    left: 0
  }
  .four_shows_one_move .carousel-inner>.item.left,
  .four_shows_one_move .carousel-inner>.item.prev.right,
  .four_shows_one_move .carousel-inner>.item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0
  }
}
@media all and (min-width: 992px) {
  .four_shows_one_move .carousel-inner>.active.left,
  .four_shows_one_move .carousel-inner>.prev {
    left: -25%
  }
  .four_shows_one_move .carousel-inner>.active.right,
  .four_shows_one_move .carousel-inner>.next {
    left: 25%
  }
  .four_shows_one_move .carousel-inner>.left,
  .four_shows_one_move .carousel-inner>.prev.right,
  .four_shows_one_move .carousel-inner>.active {
    left: 0
  }
  .four_shows_one_move .carousel-inner .cloneditem-2,
  .four_shows_one_move .carousel-inner .cloneditem-3 {
    display: block
  }
}
@media all and (min-width: 992px) and (transform-3d),
all and (min-width: 992px) and (-webkit-transform-3d) {
  .four_shows_one_move .carousel-inner>.item.active.right,
  .four_shows_one_move .carousel-inner>.item.next {
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0);
    left: 0
  }
  .four_shows_one_move .carousel-inner>.item.active.left,
  .four_shows_one_move .carousel-inner>.item.prev {
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
    left: 0
  }
  .four_shows_one_move .carousel-inner>.item.left,
  .four_shows_one_move .carousel-inner>.item.prev.right,
  .four_shows_one_move .carousel-inner>.item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0
  }
}


