
<!-- BEGIN BRANDS -->
<div class="brands">
  <div class="container">
    <div class="owl-carousel owl-carousel6-brands">
      <a href="shop-product-list.html"><img src="assets/pages/img/brands/samsung.png" alt="samsung" title="samsung"></a>
      <a href="shop-product-list.html"><img src="assets/pages/img/brands/lg.jpg" alt="lg" title="lg"></a>
      <a href="shop-product-list.html"><img src="assets/pages/img/brands/oppo.png" alt="oppo" title="oppo"></a>
      <a href="shop-product-list.html"><img src="assets/pages/img/brands/vivo.png" alt="vivo" title="vivo"></a>
      <a href="shop-product-list.html"><img src="assets/pages/img/brands/sony.jpg" alt="sony" title="sony"></a>
      <a href="shop-product-list.html"><img src="assets/pages/img/brands/panasonic.png" alt="png" title="png"></a>
    </div>
  </div>
</div>
<!-- END BRANDS -->